In [ ]:
# single line comment in python is just a hastag before it

In [ ]:
"""

this 
is 
your
multi line
commenting

anything in between those 3 quotations is a comment, not a code cell



"""

In [ ]:
import pandas as pd

# to make this the markdown, on dropdown, just select the markdown.

In [ ]:
"""
to run your code in notebook

ctrl + enter, it runs the code and keeps the cursor where it was

shift + enter, it runs the code and goes to the next code cell


"""

# how to print

In [2]:
y = 7
z = 8

In [1]:
planet = "earth"  # planet is a variable that is holding a string value 
diameter = 12742  # diameter is a variable that is holding an integer value

In [4]:
diameter

12742

In [5]:
print(diameter)

12742

In [6]:
type(diameter) # int is integer

int

In [7]:
type(planet) # str is string or text

str

In [8]:
planet

'earth'

In [9]:
print(planet)

earth

In [10]:
# first way of printing

print("the diameter of {variable1} is {variable2}".format(variable1 = planet, variable2 = diameter))

the diameter of earth is 12742

In [11]:
# second way of printing

print("the diameter of " + planet + " is " + str(diameter))

the diameter of earth is 12742

In [12]:
print("the diameter of" + planet + "is" + str(diameter))

the diameter ofearthis12742

In [13]:
print("the diameter of " + planet + " is " + diameter) 
# since  i m trying to concanetate string with an integer, it wont work

TypeError: can only concatenate str (not "int") to str

In [14]:
print("the diameter of " + planet + " is " + str(diameter))

the diameter of earth is 12742

In [ ]:
(diameter)

(diameter)

In [15]:
# third way of printing
# f-string

print(f"the diameter of {planet} is {diameter}")

the diameter of earth is 12742

# data types

In [ ]:
"""

numerical: int, float
boolean: bool                  True False
set: set                       set()   {}    {set cannot have duplicates}    {sets only contains the values, not the keys}
string/text: str               str()   ''    ""
tuple: tuple                   tuple()  ()
list: list                     list()   []
dictionary: dict               dict()   {"key":"value"}



some notes:
sets cannot have duplications.
tuple cannot be mutated.
list can contain mix data types and can be mutated.
dictinoary is also called key-value pair, or in javascript, it is called object.
json is another key-value pair example.



"""

### numerical

In [16]:
a = 5

In [17]:
type(a)

int

In [18]:
b = 5.8

type(b)

In [20]:
int(b) # convert float b to integer b. and it floors the value

5

In [21]:
float(a) # convert integer a to float b. and it adds 0 as a decimal

5.0

### boolean

In [22]:
c = False

In [23]:
d = True

In [24]:
type(c)

bool

### sets

In [32]:
my_set = {0,1,2,3,4,4,5,1,2, "a", "b","c", "a", 7, a, b, c, d}

In [33]:
type(my_set)

set

In [34]:
my_set

{0, 1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c'}

In [ ]:
# question: what was the value of d
# value of d is True

In [30]:
id(hash(d))

140715472700200

In [31]:
id(hash(1))

140715472700200

In [35]:
my_set.add("tuncay")

In [36]:
my_set

{0, 1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c', 'tuncay'}

In [ ]:
my_set.pop()

In [38]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c', 'tuncay'}

In [39]:
my_set.remove("tuncay")

In [40]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c'}

In [41]:
my_set2 = {1,2, "k", "l","o"}

In [43]:
new_set = my_set.intersection(my_set2)

In [44]:
new_set

{1, 2}

### tuple

In [51]:
my_tuple = (0,1,2,3,4,4,5,1,2, "a", "b","c", "a", 7, a, b, c, d)

In [52]:
my_tuple

(0, 1, 2, 3, 4, 4, 5, 1, 2, 'a', 'b', 'c', 'a', 7, 5, 5.8, False, True)

In [53]:
my_tuple[10]

'b'

In [54]:
my_tuple.count(1)
# how many times the value of 1 appears in my_tuple

3

In [55]:
my_tuple.index("a")
# index location "a" appearing the first time in my_tuple is 9

9

In [57]:
my_tuple2 = my_tuple + ("tuncay" , "charli", 999)

In [59]:
print(my_tuple2)

(0, 1, 2, 3, 4, 4, 5, 1, 2, 'a', 'b', 'c', 'a', 7, 5, 5.8, False, True, 'tuncay', 'charli', 999)

### string

In [60]:
my_str = '   python IS nice: % ^ @ 1 2 3  i like it  '

In [61]:
type(my_str)

str

In [62]:
my_str[0]

' '

In [63]:
my_str[3]

'p'

In [64]:
my_str.capitalize()

'   python is nice: % ^ @ 1 2 3  i like it  '

In [65]:
my_str.replace("e", "k")

'   python IS nick: % ^ @ 1 2 3  i likk it  '

In [66]:
my_str.replace(" ", "") # single space replaced with no space

'pythonISnice:%^@123ilikeit'

In [67]:
my_str.replace("  ", "") # double space replaced with no space

' python IS nice: % ^ @ 1 2 3i like it'

In [68]:
my_str.upper()

# my_str = my_str.upper()
# my_str2 = my_str.upper()

# there are some functions that are inplace = True by default
# what i mean by this is that the change you made is modifying the original
# inplace = True is like you assign the result back to itself

'   PYTHON IS NICE: % ^ @ 1 2 3  I LIKE IT  '

In [69]:
my_str.lower()

'   python is nice: % ^ @ 1 2 3  i like it  '

In [70]:
my_str.split()
# once i split my_str, it becomes a list

['python', 'IS', 'nice:', '%', '^', '@', '1', '2', '3', 'i', 'like', 'it']

In [72]:
my_str.split()[0]

'python'

In [71]:
my_str.split(":")

['   python IS nice', ' % ^ @ 1 2 3  i like it  ']

In [73]:
my_str.split(":")[0]

'   python IS nice'

In [74]:
my_str.find("n")
# character n's index location is 8

8

In [75]:
my_str.strip()

'python IS nice: % ^ @ 1 2 3  i like it'

In [76]:
my_str.rstrip()

'   python IS nice: % ^ @ 1 2 3  i like it'

In [77]:
my_str.lstrip()

'python IS nice: % ^ @ 1 2 3  i like it  '

In [78]:
my_str.swapcase()

'   PYTHON is NICE: % ^ @ 1 2 3  I LIKE IT  '

In [79]:
my_str.title()

'   Python Is Nice: % ^ @ 1 2 3  I Like It  '

### list

In [80]:
my_list = [1,2,3,4,5, "a", "b", "c", "d", "e"]

In [82]:
type(my_list)

list

In [83]:
my_list.pop()
# pop function in list is an inplace=True operation

# even though i didnt assign it back to itself, it gave me the modified list
# what i mean by assigning back to itself is this:   my_list = my_list.pop()

'e'

In [84]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [86]:
my_list.index("a")

5

In [87]:
my_list.append("tuncay")

In [88]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'tuncay']

In [89]:
my_list.extend(["jack", "charli", "julia"])

In [90]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'tuncay', 'jack', 'charli', 'julia']

In [91]:
my_list.remove("tuncay")

In [92]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'jack', 'charli', 'julia']

### dictionary

In [93]:
my_dict = {
    
    "jan": "julia", 
    "feb": "charli",
    "mar": "drew", 
    "apr": "jon"
    
}

In [ ]:

{
"firstname": "charli",
"lastname": "benet", 
"age": 9,
"schools": ["abc primary school":{}, "def secondary school", " klm high school"],
"grades": [
    {"abc primary school": 
               {"first grade": 
                    {"english class": 90, 
                     "math class": 100
                    }
               }
          },
            {"def secondary school":
                {"fifth grade":
                { "english class": 70
                }
            }
            }
        ]
}

In [94]:
type(my_dict)

dict

In [95]:
my_dict.keys()

dict_keys(['jan', 'feb', 'mar', 'apr'])

In [96]:
my_dict.values()

dict_values(['julia', 'charli', 'drew', 'jon'])

In [97]:
my_dict.items()

dict_items([('jan', 'julia'), ('feb', 'charli'), ('mar', 'drew'), ('apr', 'jon')])

In [98]:
my_dict["apr"]

'jon'

### for loop

In [ ]:
"""
for x in iterable:
    somecode


x is your iteration point; it is a placeholder
iterable is the thing that you want to iterate through
somecode is whatever you want to do





for key, value in iterable:
    somecode


key and value are iteration points from a dictionary

"""

range(5)

In [100]:
list(range(5))

[0, 1, 2, 3, 4]

In [101]:
for x in range(5):
    print(x)

0
1
2
3
4

In [102]:
city = "dallas"

for x in city:
    print(x)

d
a
l
l
a
s

### if else

In [ ]:
"""

if some condition:
    some code
elif some other condition:
    some more code
else:
    some more more code


"""

In [105]:
x = 1
y = 10

if x == 1:
    print("yeah, x is 1")

yeah, x is 1

In [106]:
if x == 7: 
    print("yeah, x is 1")
elif y == 10:
    print("y is 10")

y is 10

In [107]:
if x == 7: 
    print("yeah, x is 1")
elif y == 11:
    print("y is 10")
else:
    print("all failed, i am here now")

all failed, i am here now

In [ ]:
if x > 7: 
    print("yeah, x is 1")
elif y < 11:
    print("y is 10")
else:
    print("all failed, i am here now")

In [ ]:
if x >= 7: 
    print("yeah, x is 1")
elif y <= 11:
    print("y is 10")
else:
    print("all failed, i am here now")